@model ResumenPlantilla
@{
    List<Plantilla> plantilla = ViewData["plantilla"] as List<Plantilla>;
}
<h1>Plantilla salario</h1>
<form method="post">
    <label>Salario</label>
    <input type="text" name="salario" class="form-control" />
    <button type="submit" class="btn btn-info">Filtrar</button>
</form>
@if (Model != null)
{
    <p>Personas: @Model.Personas</p>
    <p>Máximo salario: @Model.MaximoSalario</p>
    <p>Mínimo salario: @Model.MinimoSalario</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>IdEmpleado</th>
                <th>Apellido</th>
                <th>Función</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Plantilla pla in Model.Plantilla)
            {
                <tr>
                    <td>@pla.IdEmpleado</td>
                    <td>@pla.Apellido</td>
                    <td>@pla.Funcion</td>
                    <td>@pla.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-info">
        <thead>
            <tr>
                <th>IdEmpleado</th>
                <th>Apellido</th>
                <th>Función</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Plantilla plan in plantilla)
            {
                <tr>
                    <td>@plan.IdEmpleado</td>
                    <td>@plan.Apellido</td>
                    <td>@plan.Funcion</td>
                    <td>@plan.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}